<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669967784332-3a5bgmcdqf3uhk3e845578mc3hhmmsni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669967784332-3a5bgmcdqf3uhk3e845578mc3hhmmsni</string>
	<key>API_KEY</key>
	<string>AIzaSyAkDwSuYpP7LlAhIW3lGJB4u05noA52zuw</string>
	<key>GCM_SENDER_ID</key>
	<string>669967784332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ugurhmz.LoginRegister</string>
	<key>PROJECT_ID</key>
	<string>loginregisterapp-17d21</string>
	<key>STORAGE_BUCKET</key>
	<string>loginregisterapp-17d21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669967784332:ios:ef9660f5d7fcec4acb5ea9</string>
</dict>
</plist>